<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <table class="row header">
          <tr>
            <td class="center" align="center">
              <center>
                <table class="container">
                  <tr>
                    <td class="wrapper last" style="padding-bottom: 0; padding-top: 10px;">
                      <table class="twelve columns">
                        <tr>
                          <td class="six sub-columns">
                            <%= image_tag attachments['headerlogo2.png'].url %>
                          </td>
                          <td class="six sub-columns last" align="right" style="text-align:right; vertical-align:middle;">
                            <a href="http://merchcat.com/contact"><span class="template-label contact">Contact</span></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td>
              <!-- content start -->
              <table class="row hero">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns hero">
                      <tr>
                        <td>
                          <h3>Merch Better with Merch Cat</h3>
                          <p>Enjoy <%= @duration %> days on us! Your free trial ends on <%= @expiration %>.</p>
                          <p>Merch Cat lets you take every opportunity to turn stagefront into storefront, making it easy to handle the business end of touring. Turning your iPad and iPhone into your merch manager with Merch Cat is the best way to organize inventory, simplify payments and get real-time sales reports.</p>
                          <p>Once we've proved our worth on the road, you can start a paid subscription anytime at our <a href="http://merchcat.com">website</a>. Merch Cat is only $7.99 per month.</p>
                          <p>Get your app to start using Merch Cat today:</p>
                          <a href="https://itunes.apple.com/us/app/merch-cat-inventory-management/id994196941"><button class="button-style-one">Download Now</button></a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <table class="row" style="margin-bottom: -10px;">
                <tr>
                  <td class="wrapper main">
                    <table class="twelve columns">
                      <tr>
                        <td>
                          <h3>Turn Stagefront into Storefront</h3>
                          <p>Managing your merch shouldn’t feel like managing a business. Spend more time on your music and less on spreadsheets with Merch Cat.</p>
                          <div style="margin-top: 10px;margin-right: -20px;" width="600" height="340">
                            <%= link_to 'https://www.youtube.com/embed/ifOG_9dQiQg?rel=0&amp;showinfo=0' do %>
                                <%= image_tag attachments['merchcat_youtube.png'].url, width: '600' %>
                            <% end %>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <table class="row">
                <tr>
                  <td class="wrapper main">
                    <table class="twelve columns">
                      <tr>
                        <td>
                          <h3>Merch Cat with PayPal Here</h3>
                          <p>If you plan to accept credit cards, Merch Cat supports <a href="http://www.paypal.com/here">PayPal Here</a>. Their free Mobile Card Reader creates faster checkout lines and more ways for fans to pay. Once you have a PayPal Here account, you can login directly from your app. It's that easy, and one of the many ways you can sell more with Merch Cat.</p>
                          <a href="http://www.paypal.com/here"><button class="button-style-two">Get PayPal Here</button></a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <table class="row">
                <tr>
                  <td class="center" align="center">
                    <center>
                      <table class="container">
                        <tr>
                          <td class="wrapper connect">
                            <table class="twelve columns">
                              <tr>
                                <td class="six sub-columns">
                                  <h3>Download the App</h3>
                                  <p style="padding: 5px 50px;">Available now in the app store for iPad and iPhone.</p>
                                  <div style="margin: 0 auto; width: 100px; margin-top: -25px;">
                                    <a href="https://itunes.apple.com/us/app/merch-cat-inventory-management/id994196941" style="padding-left: 100px;"><%= image_tag attachments['app-store-logo.png'].url, aling: 'center' %></a>
                                  </div>
                                </td>
                                <td class="six sub-columns last" align="right" style="text-align:right; vertical-align:middle;">
                                  <h3>On the Road with Merch Cat</h3>
                                  <p>Connect and see how other artists are using Merch Cat to better manage their Merch!</p>
                                  <div style="margin-left: 60px; padding-bottom: 40px;">
                                    <a style="float: left; margin-right: 25px;" href="https://www.facebook.com/merchcat?ref=br_rs"><%= image_tag attachments['fb-logo.jpg'].url %></a>
                                    <a style="float: left; margin-right: 25px;" href="https://instagram.com/merch_cat/"><%= image_tag attachments['gram-logo.jpg'].url %></a>
                                    <a style="float: left; margin-right: 25px;" href="https://twitter.com/merch_cat"><%= image_tag attachments['tweet-logo.jpg'].url %></a>
                                  </div>
                                  <br>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </center>
                  </td>
                </tr>
              </table>
              <table class="row footer">
                <tr>
                  <td class="wrapper last">
                    <table class="twelve columns">
                      <tr>
                        <td class="last right-text-pad">
                          <h5 style="text-align: center; color: #ffffff; font-size:12px;">All rights reserved. &copy; 2015 Merch Cat</h5>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- container end below -->
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>