<div class="row show-info">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Show Settlement Report</h5>
        <div class="several-export-btn pull-right">
        <% if !@export %>
          <div class="export-button infont col-md-3 col-sm-4">
            <a href="#" id="email-report-link" data-toggle="modal" data-target="#emailReportModal"><i class="fa fa-envelope-o"></i> </a>
          </div>
          <% if !@is_mobile %>
          <div class="export-button infont col-md-3 col-sm-4">
            <a d="non-print1" href="/shows/<%= @show['id'] %>?export=true&token=<%= @api_token %>" target="_blank"><i class="fa fa-print"></i></a>
          </div>
          <div class="export-button infont col-md-3 col-sm-4">
            <a href="/shows/<%= @show['id'] %>.pdf" target="_new" id="export-pdf"><i class="fa fa-file-pdf-o"></i> </a>
          </div>
          <div class="export-button infont col-md-3 col-sm-4">
            <a href="/shows/<%= @show['id'] %>.xls" ><i class="fa fa-file-excel-o"></i> </a>
          </div>
          <% end %>
        <% end %>
        </div>
        <table class="table header"> 
          <tbody>
          <tr>
            <td width="20%" class="title">Date</td>
            <td><%= Time.parse(@show['date']).strftime("%m/%d/%y") %></td>
            <td width="20%" class="title">Venue</td>
            <td><%= @show['venue']['name'] %></td>
          </tr>
          <tr>
            <td width="20%" class="title">City</td>
            <td><%= @show['venue']['city'] %></td>
            <td width="20%" class="title">State</td>
            <td><%= @show['venue']['state'] %></td>
          </tr>
          <tr>
            <td width="20%" class="title">Total Attendance</td>
            <td></td>
            <td width="20%" class="title">Venue Capacity</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="ibox-content">

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Qty</th>
            <th>Name</th>
            <th>UPC</th>
            <th>Item Price</th>
            <th>Total $</th>
          </tr>
          </thead>
          <tbody>
          <% (1..@items.length).each do |i| %>
              <tr class="gradeA">
                <% @item = @items[i-1] %>
                <td><%= @item['item']['id'] %></td>
                <td><%= @item['quantity_in_cart'] %></td>
                <td><%= @item['item']['nickname'] %></td>
                <td><%= @item['item']['sku'] %></td>
                <td><%= format("$%.2f", @item['item']['price']) %></td>
                <td><%= format("$%.2f", @item['item']['price'].to_f * @item['quantity_in_cart'].to_f) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <br>
        <br>
        <table class="table venue-take">
          <tbody>
          <tr>
            <td width="30%" class="title">Gross Sales</td>
            <td><%= @show['sales_amount'] ? format("$%.2f", @show['sales_amount']) : 0 %></td>
          </tr>
          <tr>
            <td width="30%" class="title">Venue Cut %</td>
            <td><%= @show['venue_cut'] %>%</td>
          </tr>
          <tr>
            <td width="30%" class="title">Venue Cut Amount</td>
            <td><%= format("$%.2f", @show['sales_amount'].to_f * (@show['venue_cut'].to_i * 0.01)) %></td>
          </tr>
          <tr>
            <td width="30%" class="title">Net Sales</td>
            <td><%= format("$%.2f", @show['sales_amount'].to_f - @show['sales_amount'].to_f * (@show['venue_cut'].to_i * 0.01)) %></td>
          </tr>
          </tbody>
        </table>

        <div class="signatures">
          <!-- Signatures (blank lines for venue representative, artist representative… name and sign) -->
          <div class="title"><b>Venue</b> Representative:</div> <br><br >
          <div class="name">
            Name:<hr>
          </div>
          <div class="signature">
            Sign:<hr>
          </div>
        </div>
        <div class="signatures">
          <div class="title"><b>Artist</b> Representative:</div> <br> <br>
          <div class="name">
            Name:<hr>
          </div>
          <div class="signature">
            Sign:<hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>